@model ABCD_Admin.Models.Room

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numberOfSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberOfSeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isAvailable)
        </dd>

    </dl>

    <table style="border-collapse: collapse; width: 100%; max-width: 800px; margin: 0 auto;">
        <thead>
            <tr style="background-color: #f2f2f2;">
                <th style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd;">Seat Name</th>
                <th style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd;">Is Available</th>
                <th style="padding: 10px; text-align: left; border-bottom: 1px solid #ddd;">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var roomSeat in ViewBag.roomSeats)
            {
                <tr style="border-bottom: 1px solid #ddd;">
                    <td style="padding: 10px;">@roomSeat.Seat.seatName</td>
                    <td style="padding: 10px;"><input type="checkbox" name="isAvailable" @(roomSeat.isAvailable ? "checked" : "") /></td>
                    <td style="padding: 10px;">@Html.ActionLink("Edit", "Edit", "RoomSeats", new { roomId = roomSeat.roomId, seatId = roomSeat.seatId }, null)</td>
                </tr>
            }
        </tbody>
    </table>



</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.roomId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
